.sliderWrapper {
    position: relative;
    overflow: hidden;

    max-width: 940px;
}

.slidesContainer {
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.controlButton {
    width: 56px;
    height: 56px;
    background-color: transparent;

    opacity: 0.5;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
}

.controlButton.selected {
    opacity: 1;
    border: none;
    background-color: rgba(11, 123, 226, 1);
}

.controlButton:nth-child(1) {
    margin-right: 20px;
}

.controlButton .inverted {
    transform: rotate(180deg);
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.visitBlog {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: transparent;
    width: 188px;
    height: 48px;
    color: white;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    border: 1.2px solid white;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

.visitBlog img {
    width: 28px;
    height: 28px;
}

.seeAllText {
    display: none;
}

@media (max-width: 400px) {
    .visitOurBlogText {
        display: none;
    }

    .seeAllText {
        display: block;
    }

    .visitBlog {
        width: 40%;
    }
}
