.card {
    cursor: pointer;

    width: 290px;
    height: 430px;
    background-color: white;

    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
}

.card__cover {
    width: 100%;
    height: 228px;
    object-fit: cover;
    border-top-right-radius: 48px;
}

.card__content {
    margin-top: -4px;
    padding: 24px;
}

.card__description {
    display: flex;
}

.card__category {
    height: 30px;
    font-size: 14px;
    color: white;
    padding: 0 16px;
    background-color: #0B7BE2;
    align-content: center;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.card__date {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    align-content: center;
    margin-left: 10px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card__title {
    margin-top: 18px;
    color: rgba(41, 41, 41, 1);
    line-height: 28px;
    height: 56px;
    font-size: 20px;

    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__author__photo {
    background-color: #0B7BE2;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    object-fit: cover;
}

.card__author {
    display: flex;
    margin-top: 18px;
}

.card__author__name {
    margin-left: 10px;
    align-content: center;
    color: rgba(51, 51, 51, 0.8);
    font-size: 14px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
